
body {
  background-color: #ffffff;

}

nav ul li a {
  list-style: none;
  text-decoration: none;
  padding: 0;
  color: #fff;
}

.navsection {
  width: 100%;
  position: sticky;
  top: 0;
  text-align: center;
  background: #0088FF;
  
}
