

body {
  background-color: #ffffff;

}

header {
  width: 100%;
}

nav ul {
  list-style-type: none;
  text-decoration: none;
  padding: 20px;
  margin: 0;
  color: #fff;
}

nav li {
  display: inline-block;
  margin-right: 25px;
}

nav a {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #fff;
}

.navsection {
  width: 100%;
  margin: 0;
  text-align: center;
  background: #0088FF;
  
}

h1 {
  font-family: League Spartan,  sans-serif;
  font-size: 50;
  font-weight: bold;
  color: #ffffff;
}

h2 {
  font-family: sans-serif;
  font-size: 30;
  font-weight: bold;
  color: #000;
}
h3 {
  font-family:  sans-serif;
  font-size: 20;
  font-weight: bold;
  color: #000;
}

.myTitle {
  font-family: sans-serif;
  font-size: 30;
  font-weight: semi-bold;
  color: #FFF;
  padding: 0;
  margin: 0;
}
.myCity {
  font-family:  sans-serif;
  font-size: 20;

  color: #FFF;
}

/*
.socials {
  vertical-align: center; 
  list-style-type: none;
  width: 100%;

}

.socials-left {
   padding-right:10px;
   display: inline-block;
   margin: 0;
}

.socials-right {
  display: inline-block;
     margin: 0;
}

*/

section {
  margin: 0;

}

section#hero {
  background: #0088FF;
  width:100%;
  padding: 40px;
  margin: 0;
  text-align: center
}

section#about {
  background:#FF5500;
  width:100%;
  padding: 40px;
  margin: 0px;
}

section#gallery {
width:100%;
margin:0;
padding:0;
}

section#services {
  background:#ffffff;
  width:100%;
  padding: 40px;
  margin-right: 100px;

}

section#credentials {
   background:#E7F4FF;
  width:100%;
  padding: 40px;

}

figcaption {
  text-align: center;
  padding: 10px;

}


